<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>
<button id="to-data-btn">查看数据</button>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
    const authBtn = document.querySelector("#to-data-btn")
    authBtn.onclick = () => {
        location.href = "show"
    }
</script>
</body>
</html>