<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>
<div>
  <label>
    username:
    <input id="username" name="username" type="text">
  </label><br>
  <label>
    password:
    <input id="password" name="password" type="password">
  </label><br>
  <button type="button" id="login-btn">登录并授权</button>
  <div id="message-div">

  </div>
</div>
<script th:inline="javascript">

    const redirectUri = /*[[${redirectUri}]]*/ '';
    const clientId = /*[[${clientId}]]*/ '';

    function ajax(verb, url, data, fulfilled, rejected) {
        return new Promise(function (fulfilled, rejected) {
            // Create XMLHttpRequest object
            let req = new XMLHttpRequest();

            // When the entire request fails it is probably a network error
            req.onerror = function () {
                rejected(new Error('There was a network error.'));
            };

            // Setup state change event
            req.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE) {
                    // Check status property to see what is going on
                    if (this.status >= 200 && this.status < 400) {
                        fulfilled(this);
                    } else if (this.status >= 400) {
                        rejected({
                            "status": this.status,
                            "statusText": this.statusText,
                            "response": this.response,
                            "responseText": this.responseText
                        });
                    }
                }
            };

            // Open Request
            req.open(verb, url);

            // Set headers for JSON
            req.setRequestHeader("Content-Type", "application/json");

            // Check to see if we need to pass data
            if (data) {
                // Submit the request with data
                req.send(JSON.stringify(data));
            } else {
                // Submit the request
                req.send();
            }
        });
    }

    const usernameInput = document.querySelector('#username')
    const passwordInput = document.querySelector('#password')
    const loginBtn = document.querySelector('#login-btn')
    const messageDiv = document.querySelector('#message-div')
    loginBtn.addEventListener("click", function () {
        ajax('POST', 'http://localhost:8090/login', {
            username: usernameInput.value,
            password: passwordInput.value,
            clientId: clientId
        })
            .then((res) => {
                const response = JSON.parse(res.response)
                console.log('auth login response:', response)
                if (!response || !response.code) {
                    console.log('auth login response:', '请求失败，未知错误')
                    messageDiv.innerText = '请求失败，未知错误'
                } else if (response.code !== 200) {
                    console.log('auth login response:', '请求失败，' + response.message)
                    messageDiv.innerText = '请求失败，' + response.message
                } else {
                    messageDiv.innerText = ''
                    const data = response.data
                    location.href = redirectUri + "?authCode=" + data
                }
            })
    })

</script>
</body>
</html>